.createbtn{

margin:20px;
  float: left;
  width: 70%;
  background-color:#03a1fc;
  border-radius:8px;
   height:50px;

}
.joinbtn{

 margin-left:20px;
 margin-right:20px;
   float: left;
   width: 70%;
   background-color:#03a1fc;
   border-radius:8px;
   height:50px;

}
.abc{

margin:20 px;
padding:200px;
display:block;
margin-left:auto;
margin-right:auto;
width:50%;
align:centre;
}